!!!
%html
  %head
    %title Ember Blog
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    :erb
      <script type="text/javascript" src="//use.typekit.net/zlp5ttf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    = javascript_include_tag "application"
